{{ define "main" }}

<section>
    <small class="max-width-note">{{ .Content }}</small>
    <small class="min-width-note">{{ .Content }}</small>
</section>
<section class="col-container">
    <ul>
    {{ range $index, $element := .Pages }}
        {{ if eq (mod $index 2) 0 }}
        <li class="paper {{.Params.color}}">{{ partial "work_item" . }}</li>
        {{ else }}
        <li class="single-col paper {{.Params.color}}">{{ partial "work_item" . }}</li>
        {{ end }}
    {{ end }}
    </ul>
    <ul class="double-col">
    {{ range $index, $element := .Pages }}
        {{ if ne (mod $index 2) 0 }}
        <li class="paper {{.Params.color}}">{{ partial "work_item" . }}</li>
        {{ end }}
    {{ end }}
    </ul>
</section>

{{ end }}
