{{ define "main" }}

<!-- Yay, what you want is called a Masonry layout, and no it is not possible to natively do it in CSS currently. So just pre-generate your columns beforehand, like a savage, ha ha. Scaling issues will only come if you have lotsa stuff first.-->

<section>
    <small class="max-width-note">{{ .Content }}</small>
    <small class="min-width-note">{{ .Content }}</small>
</section>
    <section class="col-container">
        <ul>
        {{ range $index, $element := .Pages }}
            {{ if eq (mod $index 2) 0 }}
            <li class="paper {{.Params.color}}">{{ partial "item" . }}</li>
            {{ else }}
            <li class="single-col paper {{.Params.color}}">{{ partial "item" . }}</li>
            {{ end }}
        {{ end }}
        </ul>
        <ul class="double-col">
        {{ range $index, $element := .Pages }}
            {{ if ne (mod $index 2) 0 }}
            <li class="paper {{.Params.color}}">{{ partial "item" . }}</li>
            {{ end }}
        {{ end }}
        </ul>
    </section>
{{ end }}