<small>{{ dateFormat "Jan 2, 2006" .Date }}</small>
<hgroup>
    <h2><a href="{{.RelPermalink}}">{{.Title}}</a></h2>
    <h3>{{.Params.subtitle}}</h3>
</hgroup>
    {{ if .Params.thumbnail }}
        {{ if .Resources.GetMatch .Params.thumbnail }}
            {{ $thumbnail := .Resources.GetMatch .Params.thumbnail }}
            <p><img src="{{ $thumbnail.Permalink }}"></p>
        {{- end -}}
    {{- end -}}

{{ if .Params.github }}
    <p><a href="https://www.github.com/pratu16x7/{{.Params.github }}"><strong>Github ➜</strong></a></p>
{{- end -}}
<p>
    {{.Summary}}
</p>

{{ if gt .ReadingTime 1 }}
    <small><a href="{{.RelPermalink}}">Read more · {{.ReadingTime}} min read</a></small>
{{- end -}}

